# Зависимости
node_modules/
test/AGI-Tasks/
package-lock.json
bun.lock
config.yaml
config.yaml.bak
data/
tmp/

# Переменные окружения
.env

# Логи
logs
*.log
npm-debug.log*

# Директории среды выполнения
pids
*.pid
*.seed
*.pid.lock

# Директория для инструментальных средств
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db
